




{% extends 'base.html' %}

{% block content %}
<div class="main"> 
    <!-- Create a Form -->
    <form method="POST"> 
        <!-- Security token by Django -->
        {% csrf_token %} 
        Are you want to delete this item ? 
        <input type="submit" value="Yes" /> 
        <a href="/" style="color: white;">Cancel </a> 
    </form> 
</div> 

{% endblock %}