{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3>{{playlist.playlistName}}-{{playlist.playlist_desc}}</h3>
<h5>Playlist creator: {{playlist.creator}}</h5>
<div>Playlist created:{{playlist.time_created}}</div>

<a href="{% url 'playlist_edit' playlist.id %}">Uredite playlistu</a>

<a href="{% url 'delete_playlist' playlist.id %}">Obrisite playlistu</a>

<a href="{% url 'add_song' playlist.id %}">Dodajte pjesmu</a>
<h3>U playlisti se nalazi:</h3>
{% for i in songs %}
    {{i.trackArtist}}--{{i.trackTitle}}----<a href="{{i.youtube_url}}" target="_blank">Play</a>--{{i.duration}}
    
        <br>
        
        <button class="target">Show comments</button>

        <div class="comment">
            <h4>Comments:</h4>
            {% for comm in comments %}
                {% if comm.song == i %}
                    <p>
                    {% if comm.user.profile.image %}
                        <img src="{{comm.user.profile.image.url}}" style="width: 150px; height: 100px;">
                    {% else %}
                        <img src={% static 'MusicTribes/images/default.jpg' %} style="width: 150px; height: 100px;">
                    {% endif %}
                    {{comm.date_added}}--{{comm.user}}--{{comm.text}}</p>
                {% endif %}
            {% endfor %}
            {% if i.num_comments == 0 %}
                <span>There are no comments, be first !</span>
            {% endif %}
        </div>
    

{% endfor %}

<script>
$(".comment").hide();

$(".target").click(function () {
    $(this).next('.comment').toggle();

    $(this).text($(this).text() == 'Show' ? 'Show comments' : 'Hide comments');

    });

</script>
{% endblock %}
