{% extends 'base.html' %}

{% block content %}
<div class="jumbotron" style="background-color: rgb(74, 141, 61);">
<h3>{{Tribe.tribeName}}</h3>
{% if request.user in Users %}
<a href="{% url 'delete_membership' Tribe.tribe_id %}" style="color: white;"> Leave Tribe</a>
{% else %}
    {% if request.user != Tribe.chieftain %}
        {% if user.is_authenticated %}    
            <a href=" {% url 'join_tribe' Tribe.tribe_id %} " style="color: white;"> Join Tribe</a>
        {% endif %}
    {% endif %}
{% endif %} <br>
<img src="{{Tribe.image.url}}" style="width: 150px; height: 100px;">


<div>
<h2>Chieftain: {{Tribe.chieftain}}</h2>
<h3>Clanovi:</h3>
{% if not Users %}
    <span>Nobody joined this Tribe yet</span>
{% endif %}
<ul>
    {% for value in Users %}
        <li>{{value}}</li> 
        {% if request.user == Tribe.chieftain %}
            <a href="{% url 'kick_member' Tribe.tribe_id value.id %}" style="color: white;">Kick member</a>
        {% endif %}
    {% endfor %}
</ul>

</div>

{% if request.user == Tribe.chieftain %}
    <a href="{% url 'create_playlist' Tribe.tribe_id %}" style="color: white;">Kreirajte playlistu</a>
{% endif %}

<h3>Playliste:</h3>
{% for i in playlists %}
    <a href="{% url 'playlist_detail' i.id %}" style="color: white;">{{i.playlistName}}--{{i.playlist_desc}}</a>
{% endfor %}

<div>
    <h3>Tribe chatbox</h3>
    {% for mess in Messages %}
        {% if mess.mess_from.profile.image %}
            <img src="{{mess.mess_from.profile.image.url}}" style="width: 150px; height: 100px;">
        {% endif %}
        --{{mess.time_sent}}--{{mess.mess_content}} <hr>
    {% endfor %}
        <form action="{% url 'send_message' Tribe.tribe_id %}" method="POST" >
            {% csrf_token %}
            {{message_form.as_p}}
            <input type="submit" name="Send message">
        </form>
</div>
</div>

{% endblock %}
