{% extends 'base.html' %}

{% block content %}
<div class="jumbotron" style="background-color: rgb(74, 141, 61);">
    <h2>Log in to join or create Music Tribe</h2>
    {% if not other_tribes %}
        <h3>There are no registered tribes</h3>
    {% else %}
        <h3>Tribes: </h3>
        {% for Tribe in other_tribes %}
            <img src="{{Tribe.image.url}}" style="width: 150px; height: 100px;">
            <a href="{% url 'detail' Tribe.tribe_id %}" style="color: white;"><div><p>Tribe name:{{Tribe.tribeName}}<br>Chieftain :{{Tribe.chieftain}} </p></div></a>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}