{% extends 'base.html' %}

{% block content %}
<div class="jumbotron" style="background-color: rgb(74, 141, 61);">
    <div><button style="background-color: rgb(74, 141, 61);"><a href="{% url 'create_tribe' %}" style="color: white ;">Create your new Music Tribe</a></button></div>
    {% if not Tribes_list %}
        <h3>You are not chief of a Tribe yet</h3>
    {% else %}
        <h3>I am chieftain of Tribes: </h3>
        {% for Tribe in Tribes_list %}
            <img src="{{Tribe.image.url}}" style="width: 150px; height: 100px;">
            <a href="{% url 'detail' Tribe.tribe_id %}"  style="color: white;"><div><p>Tribe name:{{Tribe.tribeName}}<br>Chieftain :{{Tribe.chieftain}}</p></div></a>
        {% endfor %}
    {% endif %}
    <hr>
    {% if not member_in_Tribes %}
        <h3>You are not member in a Tribe yet</h3>
    {% else %}
        <h3>I am member in Tribes:</h3>
        {% for Tribe in member_in_Tribes %}
            <img src="{{Tribe.image.url}}" style="width: 150px; height: 100px;">
            <a href="{% url 'detail' Tribe.tribe_id %}"  style="color: white;"><div><p>Tribe name:{{Tribe.tribeName}}<br>Chieftain :{{Tribe.chieftain}}</p></div></a>
        {% endfor %}
    {% endif %}
    <hr>
    {% if not other_tribes %}
        <h3>You are either chief or member in all Tribes</h3>
    {% else %}
        <h3>Other tribes: </h3>
        {% for Tribe in other_tribes %}
            <img src="{{Tribe.image.url}}" style="width: 150px; height: 100px;">
            <a href="{% url 'detail' Tribe.tribe_id %}" style="color: white;"><div><p>Tribe name:{{Tribe.tribeName}}<br>Chieftain :{{Tribe.chieftain}} -<a href=" {% url 'join_tribe' Tribe.tribe_id %} " style="color: white;"> Join Tribe</a></p></div></a>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}